apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "geoserver-datadir-sync.fullname" . }}-depl
  labels:
    {{- include "geoserver-datadir-sync.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  strategy:
    type: Recreate
  selector:
    matchLabels:
      {{- include "geoserver-datadir-sync.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "geoserver-datadir-sync.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      securityContext:
        {{- toYaml .Values.podSecurityContext | nindent 8 }}
      containers:
        - name: geoserver-datadir-sync
          env:
          # Git configuration
          - name: GIT_USERNAME
            value: {{ .Values.git.username | quote }}
          - name: GIT_EMAIL
            value: {{ .Values.git.email | quote }}
          # Remote repository configuration
          {{- if .Values.git.remote.name }}
          - name: REMOTE_NAME
            value: {{ .Values.git.remote.name | quote }}
          {{- end }}
          {{- if .Values.git.remote.url }}
          - name: REMOTE_URL
            value: {{ .Values.git.remote.url | quote }}
          {{- end }}
          {{- if .Values.git.remote.branch }}
          - name: REMOTE_BRANCH
            value: {{ .Values.git.remote.branch | quote }}
          {{- end }}
          # Webhook configuration
          {{- if .Values.webhook.url }}
          - name: WEBHOOK_URL
            value: {{ .Values.webhook.url | quote }}
          {{- end }}
          {{- if .Values.webhook.method }}
          - name: WEBHOOK_METHOD
            value: {{ .Values.webhook.method | quote }}
          {{- end }}
          # Optional configuration
          {{- if .Values.config.syncInterval }}
          - name: GIT_SYNC_INTERVAL
            value: {{ .Values.config.syncInterval | quote }}
          {{- end }}
          {{- if .Values.config.forceClone }}
          - name: FORCE_CLONE
            value: {{ .Values.config.forceClone | quote }}
          {{- end }}
          {{- if .Values.config.commitMessage }}
          - name: GIT_COMMIT_MESSAGE
            value: {{ .Values.config.commitMessage | quote }}
          {{- end }}
          # SSH authentication
          {{- if .Values.secrets.datadirSSHKey }}
          - name: GIT_RSA_DEPLOY_KEY
            valueFrom:
              secretKeyRef:
                name: {{ include "geoserver-datadir-sync.fullname" . }}-secret-sync-ssh-key
                key: geoserver_datadir_deploy_key
          {{- end }}
          # Additional environment variables
          {{- with .Values.extra_environment }}
            {{- . | toYaml | nindent 10 }}
          {{- end }}
          securityContext:
            {{- toYaml .Values.securityContext | nindent 12 }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          resources:
            {{- toYaml .Values.resources | nindent 12 }}
          volumeMounts:
          - name: geoserver-datadir
            mountPath: /mnt/geoserver_datadir
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      volumes:
      {{- if .Values.secrets.datadirSSHKey }}
      - name: sync-secret
        secret:
          secretName: {{ include "geoserver-datadir-sync.fullname" . }}-secret-sync-ssh-key
      {{- end }}
      - name: geoserver-datadir
      {{- with .Values.volumes.geoserverDatadir -}}
      {{ . | toYaml | nindent 8 }}
      {{- end -}}
