---
nas:
  volume:
    #pv_name: c2c-com-apache-nas-data
    pvc_name: apache-nas-data
    #storage_class_name: local or "-" for empty storageClassName
    storage_size: 5Gi
    accessModes:
    - ReadWriteOnce
    annotations:
      helm.sh/resource-policy: keep
  extraVolumeMounts: []
  extraVolumes: []

env_variables: []

tolerations: []

image:
  repository: ghcr.io/camptocamp/georchestra-docker-images/apache-nas
  pullPolicy: IfNotPresent
  tag: "20251202"

resources: {}