## PGBouncer Settings
##
config:
  #adminUser: admin
  #adminPassword:
  #authUser:
  #authPassword:
  postgresql:
    host: postgresql
    port: 5432
  pgbouncer:
    ignore_startup_parameters: extra_float_digits
    # auth_type: hba
    # auth_hba_file: /opt/bitnami/pgbouncer/conf/hba.txt
    # auth_type: md5
    # pool_mode: transaction
    # max_client_conn: 1024
    # default_pool_size: 20
  # required user list
  userlist: {}
    # <USERNAME>: <PASSWORD>
  #hba: |
  #  host mydatabase marko 0.0.0.0/0 scram-sha-256
  # uncomment if you want to specify the list of databases directly from values.yaml
  databases: |
#   example = host=postgresql port=5432 dbname=name user=user password=password

## Additional volumeMounts to the main container
## And add ability to pass DB credentials from k8s secrets
## See README.md
##
extraVolumeMounts: []
#  - name: db-credentials-dev-geoserver
#    mountPath: /etc/secrets-db/geoserver
#    readOnly: true

## Additional volumes to the pods
## And add ability to pass DB credentials from k8s secrets
## See README.md
##
extraVolumes: []
#  - name: db-credentials-dev-geoserver
#    secret:
#      secretName: db-credentials-dev-geoserver

## Replica count for Deployment
## https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#deploymentspec-v1-apps
##
replicaCount: 1

## The update strategy to apply to the Deployment
## https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#deploymentstrategy-v1-apps
##
updateStrategy: {}
#  type: RollingUpdate
#  rollingUpdate:
#    maxUnavailable: 1
#    maxSurge: 25%

## Interval between discrete pods transitions
## https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#deploymentspec-v1-apps
##
minReadySeconds: 0

## Rollback limit
## https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.21/#deploymentspec-v1-apps
##
revisionHistoryLimit: 10

## Optional array of imagePullSecrets containing private registry credentials
## https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
##
imagePullSecrets: []
# - name: "image-pull-secret"

## Container image to run
## https://kubernetes.io/docs/concepts/containers/images/
##
image:
  registry: ""
  # only work with bitnami/pgbouncer
  repository: ghcr.io/camptocamp/charts-gs/docker-pgbouncer
  tag: 1.24.1
  pullPolicy: IfNotPresent

## Service configuration
## https://kubernetes.io/docs/concepts/services-networking/service/
##
service:
  type: ClusterIP
  port: 5432
  # Set to local if want to preserve source IP for NodePort or LoadBalancer
  # externalTrafficPolicy: Cluster
  # nodePort: 30543 # when type NodePort
  annotations: {}
  loadBalancerSourceRanges: []

## Labels to add to the pod metadata
##
podLabels: {}
# key: value

## Annotations to add to the pod metadata
##
podAnnotations: {}
# prometheus.io/scrape: true
# prometheus.io/port: "{{ .Values.pgbouncerExporter.port }}"

## Additional environment variables to set
##
extraEnvs: []
# - name: FOO
#   value: FOO
# - name: BAR
#   valueFrom:
#     secretKeyRef:
#       key: BAR
#       name: bar-secret

## Pod resources for scheduling/limiting
## https://kubernetes.io/docs/concepts/configuration/manage-resources-containers/
##
resources: {}

## Node labels for pod assignment
## https://kubernetes.io/docs/user-guide/node-selection/
##
nodeSelector: {}

## Tolerations for pod assignment
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
##
tolerations: []
# - key: "key"
#   operator: "Equal|Exists"
#   value: "value"
#   effect: "NoSchedule|PreferNoSchedule"

## Affinity and anti-affinity
## https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
##
affinity: {}
# podAntiAffinity:
#   preferredDuringSchedulingIgnoredDuringExecution:
#   - weight: 100
#     podAffinityTerm:
#       labelSelector:
#         matchExpressions:
#         - key: app.kubernetes.io/name
#           operator: In
#           values:
#           - pgbouncer
#         - key: app.kubernetes.io/instance
#           operator: In
#           values:
#           - pgbouncer
#       topologyKey: kubernetes.io/hostname
# podAntiAffinity:
#   requiredDuringSchedulingIgnoredDuringExecution:
#   - labelSelector:
#       matchExpressions:
#       - key: app.kubernetes.io/name
#         operator: In
#         values:
#         - pgbouncer
#       - key: app.kubernetes.io/instance
#         operator: In
#         values:
#         - pgbouncer
#     topologyKey: "kubernetes.io/hostname"

## Priority of pods
## https://kubernetes.io/docs/concepts/scheduling-eviction/pod-priority-preemption/
##
priorityClassName: ""

## Runtime class for pods
## https://kubernetes.io/docs/concepts/containers/runtime-class/
##
runtimeClassName: ""


## Additional containers to be added to the pods
##
extraContainers: []
# - name: some-container
#   image: some/image:latest
#   env:
#   - name: FOO
#     value: "123"
#   volumeMounts:
#   - name: bar-volume
#     mountPath: /mnt

## Containers, which are run before the app containers are started
##
extraInitContainers: []
# - name: init
#   image: busybox
#   command: ['sh', '-c', 'until nslookup myservice; do echo waiting for myservice; sleep 2; done;']

## PGBouncer Exporter container image and configuration
##
pgbouncerExporter:
  enabled: false
  port: 9127
  image:
    registry: ""
    repository: prometheuscommunity/pgbouncer-exporter
    tag: 0.11.0
    pullPolicy: IfNotPresent
  log:
    level: info # or debug, warn, error
    format: logfmt # or json
  resources:
    limits:
      cpu: 250m
      memory: 150Mi
    requests:
      cpu: 30m
      memory: 40Mi

## Pod Security Policy restrictions
## https://kubernetes.io/docs/concepts/policy/pod-security-policy/
##
podSecurityPolicy:
  enabled: false
  allowedCapabilities: []
  privileged: false
  allowPrivilegeEscalation: false
  volumes:
  - 'configMap'
  - 'emptyDir'
  - 'downwardAPI'
  - 'secret'
  hostNetwork: false
  hostIPC: false
  hostPID: false
  runAsUser:
    rule: 'MustRunAsNonRoot'
  supplementalGroups:
    rule: 'MustRunAs'
    ranges:
    - min: 1000
      max: 65535
  fsGroup:
    rule: 'MustRunAs'
    ranges:
    - min: 1000
      max: 65535
  seLinux:
    rule: RunAsAny

## Service Account for pods
## https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
##
serviceAccount:
  ## Creates new ServiceAccount if empty string
  ##
  name: ""
  ## Annotations for created ServiceAccount
  ##
  annotations: {}